#**DATA TYPES AND STRUCTURES ASSIGNMENT**

##**THEORY QUESTIONS**

**1. What are data structures and why are they important?**
- **Data structures** are organized ways to store and manage data efficiently.
-  They help in **fast retrieval, optimized performance, and problem-solving** in software applications essential for **coding, AI, databases, and interviews**, they form the backbone of efficient algorithms.

**2. Explain the difference between mutable and immutable data types with examples**
 -  **Mutable Data Types:**

  - Mutable data types are those that can be changed or modified after they have been created.
  - This means you can alter their content without creating a new object.
 - **Examples of Mutable Data Types**:

**1.Lists:**
You can add, remove, or change elements in a list.


```
my_list = [1, 2, 3]
my_list.append(4)  # Now my_list is [1, 2, 3, 4]
my_list[0] = 10    # Now my_list is [10, 2, 3, 4]
```
**2.Dictionaries:**
You can add, remove, or change key-value pairs in a dictionary.


```
my_dict = {'a': 1, 'b': 2}
my_dict['c'] = 3  # Now my_dict is {'a': 1, 'b': 2, 'c': 3}
my_dict['a'] = 10 # Now my_dict is {'a': 10, 'b': 2, 'c': 3}
```




**3.Sets:** You can add or remove elements from a set.




```
my_set = {1, 2, 3}
my_set.add(4)     # Now my_set is {1, 2, 3, 4}
my_set.remove(2)  # Now my_set is {1, 3, 4}
```
- **Immutable Data Types**:
  - Immutable data types, on the other hand, cannot be changed after they are created.
  - If you want to modify an immutable object, you must create a new object with the desired changes.
- **Examples of Immutable Data Types**:
1.**Tuples**:
Once a tuple is created, it' s elements cannot be changed.


```
my_tuple = (1, 2, 3)
# my_tuple[0] = 10  # This will raise a TypeError
new_tuple = my_tuple + (4,)  # Create a new tuple: (1, 2, 3, 4)
```
2.**Strings**:Strings cannot be modified in place. Any operation that seems to modify a string actually creates a new string.

```
my_string = "hello"
new_string = my_string.replace("h", "j")  # Creates a new string: "jello"
# my_string is still "hello"
```

**3**.**What are the main differences between lists and tuples in Python?**
- **Mutability**:

**Lists**: Mutable (can be changed).
**Tuples**: Immutable (cannot be changed).

- **Syntax**:

**Lists**: Defined with [ ].
**Tuples**: Defined with ( ).
- **Performance**:

**Lists**: Slower, more memory overhead.
**Tuples**: Faster, more memory efficient.
- **Use Cases**:

**Lists:** For collections that change.
**Tuples**: For fixed collections.
- **Methods**:

**Lists**: Many methods (e.g., append(), remove()).
**Tuples**: Few methods (count(), index()).
- **Hashability**:

**Lists**: Not hashable (cannot be dictionary keys).
**Tuples**: Hashable (can be dictionary keys).

**4.Describe how dictionaries store data?**
 -  Dictionaries in Python are built-in data structures that store data in key-value pairs. Here’s a concise description of how they work:

 1. **Key-Value Pairs**
- Each entry in a dictionary consists of a **key** and a **value**. The key is a unique identifier for the value.
- Example: In the dictionary `{'name': 'Alice', 'age': 30}`, `'name'` is the key, and `'Alice'` is the corresponding value.

 2. **Hashing**
- Keys in a dictionary are hashed to create a unique hash value. This hash value determines where the key-value pair is stored in memory.
- Hashing allows for efficient data retrieval, as it enables quick access to values based on their keys.

 3. **Dynamic Resizing**
- Dictionaries are dynamic in size. When the number of entries exceeds a certain threshold, the dictionary automatically resizes to maintain performance.
- This resizing involves creating a new, larger array and rehashing the existing keys to their new positions.

 4. **Order of Elements**
- As of Python 3.7, dictionaries maintain the insertion order of keys. This means that when you iterate over a dictionary, the items will be returned in the order they were added.

 5. **Accessing Data**
- You can access values in a dictionary using their keys. If the key exists, the corresponding value is returned; if not, a keyerror is raised.
- Example: `my_dict['name']` would return `'Alice'`.

 6. **Mutability**
- Dictionaries are mutable.

**5.** **Why might you use a set instead of a list in Python?**
- 1. **Uniqueness**: Sets automatically enforce uniqueness; no duplicates allowed.

 2. **Set Operations**: Support for union, intersection, and difference operations.

 3. **No Order**: If order is not important, sets simplify code and improve performance.
 4. **Automatic Duplicate Removal**: Converting a list to a set removes duplicates easily.

**6.What is a string in Python, and how is it different from a list?**
  - A string in Python is a sequence of characters used to represent text data. Strings can be defined using single quotes ('), double quotes ("), or triple quotes (''' or """) for multi-line strings. Strings are immutable, meaning that once a string is created, it cannot be changed or modified. Any operation that appears to modify a string actually creates a new string. Python provides a variety of built-in methods for string manipulation, such as upper( ), lower( ), replace( ), and split( ).
  
  On the other hand, A list in Python is a collection of items that can be of different data types, including integers, strings, and even other lists. Lists are defined using square brackets ([ ]) and are mutable, allowing for modifications such as adding, removing, or changing elements after the list is created. Lists support various methods for manipulation, such as append( ), remove( ), and sort( ). Unlike strings, lists maintain the order of their elements and can contain duplicates, making them versatile for storing and managing collections of data.

**7.How do tuples ensure data integrity in Python?**
  - Tuples ensure data integrity in Python through the following features:

  1. **Immutability**: Contents cannot be changed after creation, preventing accidental modifications.
  
2. **Hashability**: Can be used as keys in dictionaries and elements in sets, maintaining uniqueness.

3. **Fixed Structure**: Have a fixed size and order, reducing errors related to adding or removing elements.
4.Tuples often group related data together, reinforcing the idea that the data should remain unchanged.

**8. What is a hash table, and how does it relate to dictionaries in Python?**
  - Hash table is a data structure use to retrieve efficient data using key. It is based on the concept of hashing, hashing is function used to convert
 key into unique index corresponding to speacific location in a table.
  
  In Python, dictionaries are implemented as hash tables, where each key is hashed to determine its position in the array, allowing for fast access to values. Keys must be hashable (immutable) to ensure the integrity and efficiency of the hash table.

**9. Can lists contain different data types in Python?**
   - Yes, lists in Python can contain different data types. A single list can store a mix of integers, strings, floats, objects, and even other lists.

```
my_list = [1, "hello", 3.14, [2, 3], True]
```

**10. Explain why strings are immutable in Python.**
   - Strings are immutable in Python because:

1. **Performance Optimization**: Allows efficient memory usage and faster access.
2. **Hashing**: Enables strings to be used as keys in dictionaries and elements in sets.
3. **Safety**: Prevents accidental changes, ensuring data integrity.
4. **Simplified Design**: Any modification creates a new string, avoiding side effects.

**11. What advantages do dictionaries offer over lists for certain tasks?**
   - Dictionaries store data in the form of key-value pair.
   -Use case is if we need emp_id corresponding to it's name then set emp_id as key and name as value.
   -Used when faster lookups needed.
   - Many data types stored in the form of key e.g:- int,float,bool
   - Hashable data types can be store as values in dictionary
It has better organization for complex data.

**12. Describe a scenario where using a tuple would be preferable over a list.**
  - Lists defined using [ ] square brackets, Tuples defined using ( ) parenthesis.
Tuples would be preferable when modification of data is not in need.

For Example: if there's a roll number of students we know that roll numbers of students are fixed.
Other examples : to store name,age,degree of an individual,class,deparmnets,enrollment number etc.

**13. How do sets handle duplicate values in Python?**
   - Sets handle duplicates by simply ensuring unique elements in the sets,it automatically handles duplicate values by only allowing unique elements. When you attempt to add a duplicate value to a set, it simply ignores the addition and maintains the existing unique elements.

**14.How does the “in” keyword work differently for lists and dictionaries?**
  - In case of lists: The `in` keyword checks for the presence of a specific value within the list. It returns `True` if the value exists as an element in the list, and `False` otherwise.

**Example:**
```
my_list = [1, 2, 3, 4]
print(2 in my_list)  # Output: True
print(5 in my_list)  # Output: False
```
 - In case of dictionaries: The `in` keyword checks for the presence of a specific key in the dictionary. It returns `True` if the key exists, and `False` otherwise. It does not check for values.

**Example:**
```
my_dict = {'a': 1, 'b': 2}
print('a' in my_dict)  # Output: True
print(1 in my_dict)     # Output: False (checks for key, not value)
```

**15. Can you modify the elements of a tuple? Explain why or why not?**
- No, the elements of a tuple cannot modify because tuples are immutable.
- Reasons:

1) Data Integrity: Prevents accidental modifications.

2) Performance: Optimizes memory usage and access speed.

3) Hashability: Allows tuples to be used as keys in dictionaries.

**16. What is a nested dictionary, and give an example of its use case?**
 - A nested dictionary is a dictionary that contains other dictionaries as its values.

In [2]:
#use case:
student = {
    "student_1":
    {"name":"Pinky","age":20,"grade":"A"},
    "student_2":
    {"name":"Monu","age":22,"grade":"B"}
}
print(student)

{'student_1': {'name': 'Pinky', 'age': 20, 'grade': 'A'}, 'student_2': {'name': 'Monu', 'age': 22, 'grade': 'B'}}

**17. Describe the time complexity of accessing elements in a dictionary.**
- Accessing elements in a dictionary has an average time complexity of O(1) due to its underlying hash table implementation, allowing for constant-time lookups.

**18.  In what situations are lists preferred over dictionaries?**
 - When the order of elements is important,when storing a simple collection of items without key-value pairs, when you need to access elements by their position rather than by a key.

**19. Why are dictionaries considered unordered, and how does that affect data retrieval?**
- Dictionaries are considered unordered because they do not maintain the order of elements based on insertion i.e., the order of keys is not guaranteed, which can affect data retrieval if the order is important. However, you can still access values efficiently using their keys.

**20.  Explain the difference between a list and a dictionary in terms of data retrieval.**
- List: Data is retrieved using an index (e.g., my_list[0]), which is position-based.
- Dictionary: Data is retrieved using a key (e.g., my_dict['key']), which is key-based.

##**PRACTICAL QUESTIONS**

**1. Write a code to create a string with your name and print it.**

In [3]:
name = "pinky"
print(name)

pinky

**2. Write a code to find the length of the string "Hello World".**

In [4]:
len("Hello World")

11

**3. Write a code to slice the first 3 characters from the string "Python Programming".**

In [5]:
x = "Python Programming"
x[:3]

'Pyt'

**4. Write a code to convert the string "hello" to uppercase.**

In [6]:
greeting = "hello"
greeting.upper()

'HELLO'

**5. Write a code to replace the word "apple" with "orange" in the string "I like apple".**

In [7]:
s = "I like apple"
s.replace('apple','orange')

'I like orange'

**6. Write a code to create a list with numbers 1 to 5 and print it.**

In [8]:
l = [1,2,3,4,5]
for i in l:
    print(i)

1
2
3
4
5

**7. Write a code to append the number 10 to the list [1, 2, 3, 4].**

In [9]:
l1 = [1,2,3,4]
l1.append(10)
print(l1)

[1, 2, 3, 4, 10]

**8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].**

In [10]:
l2 = [1,2,3,4,5]
l2.remove(3)
print(l2)

[1, 2, 4, 5]

**9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].**

In [11]:
l3 = ['a', 'b', 'c', 'd']
l3[1]

'b'

**10. Write a code to reverse the list [10, 20, 30, 40, 50].**

In [12]:
my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

**11. Write a code to create a tuple with the elements 10, 20, 30 and print it.**

In [13]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

**12. Access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')**

In [14]:
t1= ('red', 'green', 'blue', 'yellow')
t2=t1[-2]
print(t2)

blue

**13. Find the minimum number in the tuple (10, 20, 5, 15)**

In [20]:
t3= (10, 20, 5, 15)
min_value = min(t3)
print(min_value)

5

**14. Find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')**

In [21]:
t4 = ('dog', 'cat', 'rabbit')
index_of_cat = t4.index('cat')
print(index_of_cat)

1

**15. Create a tuple containing three different fruits and check if "kiwi" is in it.**

In [22]:
fruits = ('apple', 'banana', 'orange')
contains_kiwi = 'kiwi' in fruits
print(contains_kiwi)

False

**16. Create a set with the elements 'a', 'b', 'c' and print it.**

In [23]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'c', 'b', 'a'}

**17. Clear all elements from the set {1, 2, 3, 4, 5}.**

In [24]:
set1= {1, 2, 3, 4, 5}
set1.clear()
print(set1)

set()

**18. Remove the element 4 from the set {1, 2, 3, 4}.**

In [25]:
s1 = {1, 2, 3, 4}
s1.remove(4)
print(s1)

{1, 2, 3}

**19. Find the union of two sets {1, 2, 3} and {3, 4, 5}.**

In [26]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

**20. Find the intersection of two sets {1, 2, 3} and {2, 3, 4}.**

In [27]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

**21. Create a dictionary with the keys "name", "age", and "city", and print it**

In [28]:
my_dict = {"name": "pinky", "age": 20, "city": "Bangalore"}
print(my_dict)

{'name': 'pinky', 'age': 20, 'city': 'Bangalore'}

**22. Add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.**

In [31]:
my_dict = {'name': 'John', 'age': 25}
my_dict["country"] = "USA"
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

**23. Access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}**

In [32]:
my_dict = {'name': 'Alice', 'age': 30}
name_value = my_dict['name']
print(name_value)

Alice

**24. Remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}**

In [34]:
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict['age']
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

**25. Check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}**

In [36]:
my_dict = {'name': 'Alice', 'city': 'Paris'}
key_exists = 'city' in my_dict
print(key_exists)

True

**26. Create a list, a tuple, and a dictionary, and print them all.**

In [37]:
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {'a': 7, 'b': 8}

print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
(4, 5, 6)
{'a': 7, 'b': 8}

**27. Create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.**

In [38]:
import random

random_numbers = random.sample(range(1, 101), 5)  # Generate 5 unique random numbers
random_numbers.sort()  # Sort the list in ascending order
print(random_numbers)

[28, 56, 64, 67, 100]

**28. Create a list with strings and print the element at the third index.**

In [39]:
list1 = ['apple', 'banana', 'cherry', 'date', 'elderberry']
third_index_element = list1[3]
print(third_index_element)

date

**29. Combine two dictionaries into one and print the result.**

In [42]:
dict1 = {'name': 'Alice', 'age': 30}
dict2 = {'city': 'Paris', 'country': 'France'}
combined_dict = {**dict1, **dict2}
print(combined_dict)

{'name': 'Alice', 'age': 30, 'city': 'Paris', 'country': 'France'}

**30. Convert a list of strings into a set.**

In [43]:
string_list = ['apple', 'banana', 'apple', 'orange']
string_set = set(string_list)
print(string_set)

{'apple', 'orange', 'banana'}